*{
    font-family: 'Nanum Gothic', sans-serif;
}
.layout-header-fixed-container {
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.layout-header-background {
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

.layout-header-inner-container {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
}
.layout-header-icon-wrap {
    width: 50px;
    height: 100%;
}
.layout-header-icon-wrap-profile{
    width:40px;
    height:40px;
    margin:0 auto;
}
.layout-header-item-container {
    display: inline-flex;
    justify-content: center;
    color: #fff;
    width: 100%;
}
.layout-header-item-text {
    margin: 0 100px 0 100px;
    cursor: pointer;
}

.layout-logo {
    width: 30px;
    height: 31px;
    cursor: pointer;
}

.layout-header-top {
    position: relative;
    width: 100%;
    height: 50px;
    background: #fff;
    opacity: 0.9;
}

.layout-main {
    position: relative;
    z-index: 0;
}

.center-aligned {
    margin-left: auto;
    margin-right: auto;
}

body, html {
    margin: 0;
    background: #000;
}